---
layout: default
---

<h4 class="coming-soon-text">As this site is new the content below is in the process of being populated, check back soon for more and sign up so you don't miss out.<br><span>click to dismiss</span></h4>
<div class="blog-intro"><h1>A closer look...</h1><p>Welcome, this is my blog. Below is a mixture of both personal and professinal entries. The purpose of this blog is to not only record aspects of my life and work but to also help me grow my design and development skills</p></div>

<div class="posts-container flex row wrap">
  {% for blog in site.posts %}
  <a  href="{{blog.url}}" target="new" class="post {{blog.width}}" id="{{blog.cssID}}">
      <div class="post-info flex-center flex column">
        <div class="post-type flex flex-center column">
          <span class="fa {{blog.icon}} post-type-icon"></span>
          <span class="post-type-text">{{blog.sub-title}}</span>
        </div>
        <div class="post-title">{{blog.title}}<span class="post-date">{{blog.date | date: "%b %-d, %Y" }}</span>
        </div>
      </div>
  </a>
  {% endfor %}
</div>

{% include subscribe.html %}
