---
layout: default
---

<div class="posts-container">
  {% for blog in site.posts %}
  <a  href="{{blog.url}}" target="new" class="flex row wrap">
    <div id="{{blog.id}}" class="post {{blog.width}}">
      <div class="post-info flex-center flex column">
        <div class="post-type flex flex-center column">
          <span class="fa {{blog.icon}} post-type-icon"></span>
          <span class="post-type-text">{{blog.type}}</span>
        </div>
        <div class="post-title">{{blog.title}}<span class="post-date">{{blog.Postdate}}</span>
        </div>
      </div>
    </div>
  </a>
  {% endfor %}
</div>

{% include subscribe.html %}
