.blog-item
  width: 70%
  margin: 100px 0 15px 15%
  height: auto

  &:nth-child(1)
    margin-top: 25px!important

.date
  height: 100px
  padding: 0 10px
  text-align: center
  color: #fff
  background:
    color: $red

.cal-day
  font:
    family: 'slab_serifregular'
    size: 32px

.cal-year
  display: block
  padding: 0 0 4px 0
  font:
    size: 12px

.blog-item-text
  width: 90%
  padding: 10px
  transition: all .25s ease-in-out
  font:
    family: 'open_sanslight'

  &:hover
    background:
      color: #eee

    & .view-post
      opacity: 1
      transform: translate(0, 0)

.blog-title

  h2
    margin: 0
    padding: 0

.blog-content
  color: #333
  font:
    size: 18px

.view-post
  opacity: 0
  transition: all .25s ease-in-out
  transform: translate(100px, 0)
  float: right
  padding: 10px 15px
  color: #333
  font:
    family: 'open_sansregular'

  &:after
    content: ' > >'

.sub-container
  margin: auto
  input
    border: 0
    padding: 2px 0
    margin: 0
    outline: none
    color: $grey

    &:focus
      background:
        color: lighten($light-grey, 5%)

  .send-button
    display: block
    position: absolute
    margin: -4px 0 0 -22px
    padding: 0
    width: 50px !important
    height: 50px !important
    border: 0
    border-radius: 50%
    color: $white
    transform: rotate(15deg) scale(1)
    transition: all .25s ease-in-out
    cursor: pointer
    font:
      size: 25px
      weight: 100
    background:
      color: darken($green, 10%)

    &:hover
      transform: rotate(22deg) scale(1.2)
      background:
        color: $green

.text-center
  text-align: center

  p
    font:
      size: 12px

.sub-container
  width: 55%
  h1
    color: #333
    font:
      family: 'open_sansextrabold'


/*---------- RESPONSIVE STYLES ----------*/

@media (max-width: 1027px)
  .sub-container
    width: 70%

@media (max-width: 768px)

  .blog-item
    width: 90%!important
    margin: 0 0 115px 5%!important
    flex-direction: column!important
    text-align: center
    background:
      color: #eee

    &:nth-child(1)
      margin-top: 25px!important

    .view-post
      opacity: 1
      transition: all .25s ease-in-out
      transform: translate(0, 0)

    .date
      width: 100px
      margin: 0 auto

  .sub-container
    width: 90%
