$tablet: 1027px
$small-tablet: 768px
$large-mobile: 678px
$mobile: 480px

.mobile-social-nav
  ul
    .fa-dribbble
      color: #ea4c89

    .fa-instagram
      color: #9b6954

    .fa-envelope
      color: $red

    .fa-twitter
      color: #00aced


@media (min-width: $tablet)
  .mobile-project-buttons
    display: none

  .close-mobile-work-image
    display: none

@media (max-width: $tablet)

  .close-mobile-work-image
    display: block
    width: 42px
    height: 42px
    line-height: 42px
    text-align: center
    border-radius: 50%
    background:
      color: $red

  .mobile-next
    transform: translate(30px, 0) scale(1)

  .mobile-prev
    transform: translate(-30px, 0) scale(1)

  .mobile-prev,
  .mobile-next
    opacity: .1
    margin: 10px 10px
    color: $red
    width: 35px
    height: 35px
    line-height: 33px
    border-radius: 50%
    cursor: pointer
    transition: all .25s ease-in-out
    transition-delay: .18s
    font:
      size: 25px
      weight: 800
    background:
      color: $white

    &:hover
      transform: scale(1.3)

  .mobile-project-buttons-showing
    transform: translate(0, 0)
    opacity: 1

  .mobile-nav-toggle
    width: 40px
    height: 40px
    display: flex
    position: absolute
    top: 20px
    right: 30px
    align-items: center
    cursor: pointer
    transition: all .25s ease-in-out
    z-index: 4

    span:before,
    span:after,
    span
      content: ""
      display: block
      position: relative
      height: 4px
      width: 100%
      border-radius: 5px
      transition: all .25s ease-in-out
      background:
        color: $grey

    span:before
      top: 10px

    span:after
      top: -14px

    &.is-showing
      display: flex
      span
        background:
          color: transparent

      span:before,
      span:after
        transform-origin: center
        transform: rotate(45deg)
        top: 0px
        background:
          color: $white

      span:after
        transform: rotate(-45deg)
        top: -4px

@media (max-width: $mobile)

  .mobile-social-nav,
  .mobile-social-nav .social-nav
    display: block

  .mobile-nav-toggle
    top: 10px

  .mobile-prev,
  .mobile-next

    &:hover
      transform: scale(1)
