/*------ MY WORK ------*/

.work-wrapper
  width: 100%
  padding: 25px 0
  ul
    flex-flow: wrap
    width: 100%
    list-style: none
    padding: 0
    margin: 0

.work-item
  position: relative
  width: 30%
  margin: 10px
  height: 275px
  overflow: hidden
  border: 1px solid #333

  &:hover .overlay,
  &:hover  h1,
  &:hover .work-item-caption p
    transform: translate(0%, 0%)
    opacity: 1

  img
    position: absolute
    margin: 0
    padding: 0
    float: left
    z-index: 1
    min-height: 275px
    min-width: 366px


  .overlay
    width: 100%
    height: 100%
    cursor: url('../img/fa-search-icon.svg'), pointer
    position: absolute
    z-index: 2
    opacity: 0
    transform: translate(0%, 100%)
    transition: all .25s ease
    background:
      color: rgba($red,.85)

.work-item-caption
  position: relative
  padding: 100px 0 0 0

  h1
    color: #eee
    margin: 0
    padding: 0
    opacity: 0
    text-transform: uppercase
    transition: all .25s ease-in-out
    transition-delay: .18s
    transform: translate(-20%, 0%)
    font:
      family: 'open_sansextrabold'
  p
    color: #eee
    margin: 0
    padding: 0
    opacity: 0
    text-transform: uppercase
    transition: all .25s ease-in-out
    transition-delay: .18s
    transform: translate(20%, 0%)
    font:
      size: 16px
      weight: 300

.work-item-text
  display: none

.large-image-container
  width: 65%
  height: 100vh
  position: fixed
  overflow: hidden
  top: 0
  left: 0
  z-index: 4
  opacity: 0
  transform: translate(-100%, 0%)
  transition: all .25s ease
  background:
    size: cover
    position: center center

  &.show-large-image
    opacity: 1
    transform: translate(0%, 0%)

  img
    width: 100%
    height: auto

.work-text-container
  text-align: center
  color: #fff
  width: 35%
  height: 100vh
  position: fixed
  top: 0
  right: 0
  z-index: 3
  transform: translate(100%, 0%)
  transition: all .25s ease
  background:
    color: $red

  &.close-work-large-container
    display: none

  &.show-work-item-text
    opacity: 1
    transform: translate(0%, 0%)

  h1
    margin: 0
    padding: 0
    text-transform: uppercase
    letter-spacing: 1px
    font:
      family: 'open_sansregular'
      size: 20px

  h4
    margin: 0
    padding: 0
    text-transform: uppercase
    font:
      weight: 100
      size: 12px

  p
    padding: 15px 25px

.project-text
  margin-top: 100px
  height: 40%

.next-prev-project-buttons
  margin-top: 125px


.project-buttons
  diaply: block
  min-width: 130px
  padding: 10px 15px
  margin: 10px
  border-radius: 4px
  filter: drop-shadow(0px 0px 2px rgba(0,0,0, .4))
  color: $red
  cursor: pointer
  transition: all .2s ease-in-out
  font:
    family: 'open_sansregular'
  background:
    color: #fff

  &:hover
    filter: drop-shadow(0px 0px 8px rgba(0,0,0, .6))

#amorae
  background:
    image: url('../img/amorae-thumb.jpg')
    size: cover
    position: center center

#copan
  background:
    image: url('../img/copan-craft-beer.jpg')
    size: cover
    position: center center

#ongar-logo
  background:
    image: url('../img/ongar-logo.jpg')
    size: cover
    position: center center

#ongar-lights
  background:
    image: url('../img/ongar-lights.jpg')
    size: cover
    position: center center

#english42
  background:
    image: url('../img/english42-large.jpg')
    size: cover
    position: center center

#weight-watchers
  background:
    image: url('../img/weight-watchers.jpg')
    size: cover
    position: center center

#barclay
  background:
    image: url('../img/barclay.jpg')
    size: cover
    position: center center

#slievemore
  background:
    image: url('../img/slievemore.jpg')
    size: cover
    position: center center

#eriu
  background:
    image: url('../img/eriu.jpg')
    size: cover
    position: center center


@media (max-width: 1027px)

  .large-image-container
    width: 100%
    height: 75vh
    position: fixed
    top: 0
    display: block
    overflow: hidden
    background:
      color: blue
      size: contain
      position: center center
      repeat: no-repeat
      color: rgba(0,0,0,.9)

  .work-text-container
    width: 100%
    top: 75vh
    bottom: 0
    position: fixed
    display: block

    h1
      margin: 0
      padding: 0
      text-transform: uppercase
      letter-spacing: 1px
      font:
        family: 'open_sansregular'
        size: 20px

    h4
      margin: 0
      padding: 0
      text-transform: uppercase
      font:
        weight: 100
        size: 12px

    p
      padding: 15px 25px
      display: none

  .project-text
    margin-top: 5px

  .next-prev-project-buttons
    display: none

  .work-item
    width: 47%

  .work-wrapper

    & .close-work-large-container
      display: none

  .project-text
    margin-top: 5px
    height: auto

@media (max-width: 768px)

    .work-item
      width: 97%

@media (max-width: 480px)

  .work-item

    .overlay
      opacity: 1
      transform: translate(0%, 0%)
      background:
        color: rgba(#333, .6)

  .work-item-caption
    position: relative
    padding: 100px 0 0 0
    margin: auto

    h1
      color: #fff
      opacity: 1
      transform: translate(0%, 0%)
      font:
        family: 'open_sansextrabold'
        size: 25px
    p
      color: #fff
      opacity: 1
      transform: translate(0%, 0%)
