<div id="mc_embed_signup">
  <div class="sub-container">
    <h1 class="text-center sub-header">Want to know when I post?</h1>
    <form action="//michaelgriffin.us12.list-manage.com/subscribe/post?u=b978db77d7aa98fc4de8a0f3e&amp;id=8c91bf2b4f" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="flex flex-center row sub-container validate" target="_blank" novalidate>
      <div id="mc_embed_signup_scroll">
        <div class="mc-field-group flex flex-center row">
          <input type="email" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="What is your email address?">
          <button type="submit" id="mc-embedded-subscribe" name="subscribe" class="send-button fa fa-paper-plane"></button>
        </div>
        <span class="text-center"><p>No spam, I promise! Just a single email when I publish a new post.</p></span>


        <div id="mce-responses" class="clear">
          <div class="response" id="mce-error-response" style="display:none"></div>
          <div class="response" id="mce-success-response" style="display:none"></div>
        </div>
        <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_b978db77d7aa98fc4de8a0f3e_294836aec1" tabindex="-1" value=""></div>
      </div>
    </form>
  </div>
</div>
