@font-face {
  font-family: 'open_sansextrabold';
  src: url("../fonts/OpenSans-ExtraBold-webfont.eot");
  src: url("../fonts/OpenSans-ExtraBold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-ExtraBold-webfont.woff") format("woff"), url("../fonts/OpenSans-ExtraBold-webfont.ttf") format("truetype"), url("../fonts/OpenSans-ExtraBold-webfont.svg#open_sansextrabold") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'slab_serifregular';
  src: url("../fonts/slab-serif-regular-webfont.eot");
  src: url("../fonts/slab-serif-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/slab-serif-regular-webfont.woff2") format("woff2"), url("../fonts/slab-serif-regular-webfont.woff") format("woff"), url("../fonts/slab-serif-regular-webfont.ttf") format("truetype"), url("../fonts/slab-serif-regular-webfont.svg#slab_serifregular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'open_sanslight';
  src: url("../fonts/OpenSans-Light-webfont.eot");
  src: url("../fonts/OpenSans-Light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Light-webfont.woff") format("woff"), url("../fonts/OpenSans-Light-webfont.ttf") format("truetype"), url("../fonts/OpenSans-Light-webfont.svg#open_sanslight") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'open_sansregular';
  src: url("../fonts/OpenSans-Regular-webfont.eot");
  src: url("../fonts/OpenSans-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Regular-webfont.woff") format("woff"), url("../fonts/OpenSans-Regular-webfont.ttf") format("truetype"), url("../fonts/OpenSans-Regular-webfont.svg#open_sansregular") format("svg");
  font-weight: normal;
  font-style: normal; }

/*!
 *  Font Awesome 4.5.0 by @davegandy - http://fontawesome.io - @fontawesome
 *  License - http://fontawesome.io/license (Font: SIL OFL 1.1, CSS: MIT License)
 */
/* FONT PATH
 * -------------------------- */
@font-face {
  font-family: 'FontAwesome';
  src: url("../fonts/fontawesome-webfont.eot?v=4.5.0");
  src: url("../fonts/fontawesome-webfont.eot?#iefix&v=4.5.0") format("embedded-opentype"), url("../fonts/fontawesome-webfont.woff2?v=4.5.0") format("woff2"), url("../fonts/fontawesome-webfont.woff?v=4.5.0") format("woff"), url("../fonts/fontawesome-webfont.ttf?v=4.5.0") format("truetype"), url("../fonts/fontawesome-webfont.svg?v=4.5.0#fontawesomeregular") format("svg");
  font-weight: normal;
  font-style: normal; }

.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

/* makes the font 33% larger relative to the icon container */
.fa-lg {
  font-size: 1.33333333em;
  line-height: 0.75em;
  vertical-align: -15%; }

.fa-2x {
  font-size: 2em; }

.fa-3x {
  font-size: 3em; }

.fa-4x {
  font-size: 4em; }

.fa-5x {
  font-size: 5em; }

.fa-fw {
  width: 1.28571429em;
  text-align: center; }

.fa-ul {
  padding-left: 0;
  margin-left: 2.14285714em;
  list-style-type: none; }

.fa-ul > li {
  position: relative; }

.fa-li {
  position: absolute;
  left: -2.14285714em;
  width: 2.14285714em;
  top: 0.14285714em;
  text-align: center; }

.fa-li.fa-lg {
  left: -1.85714286em; }

.fa-border {
  padding: .2em .25em .15em;
  border: solid 0.08em #eeeeee;
  border-radius: .1em; }

.fa-pull-left {
  float: left; }

.fa-pull-right {
  float: right; }

.fa.fa-pull-left {
  margin-right: .3em; }

.fa.fa-pull-right {
  margin-left: .3em; }

/* Deprecated as of 4.4.0 */
.pull-right {
  float: right; }

.pull-left {
  float: left; }

.fa.pull-left {
  margin-right: .3em; }

.fa.pull-right {
  margin-left: .3em; }

.fa-spin {
  -webkit-animation: fa-spin 2s infinite linear;
  animation: fa-spin 2s infinite linear; }

.fa-pulse {
  -webkit-animation: fa-spin 1s infinite steps(8);
  animation: fa-spin 1s infinite steps(8); }

@-webkit-keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg); } }

@keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg); } }

.fa-rotate-90 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg); }

.fa-rotate-180 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg); }

.fa-rotate-270 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
  -webkit-transform: rotate(270deg);
  transform: rotate(270deg); }

.fa-flip-horizontal {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=0, mirror=1);
  -webkit-transform: scale(-1, 1);
  transform: scale(-1, 1); }

.fa-flip-vertical {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2, mirror=1);
  -webkit-transform: scale(1, -1);
  transform: scale(1, -1); }

:root .fa-rotate-90,
:root .fa-rotate-180,
:root .fa-rotate-270,
:root .fa-flip-horizontal,
:root .fa-flip-vertical {
  -webkit-filter: none;
  filter: none; }

.fa-stack {
  position: relative;
  display: inline-block;
  width: 2em;
  height: 2em;
  line-height: 2em;
  vertical-align: middle; }

.fa-stack-1x,
.fa-stack-2x {
  position: absolute;
  left: 0;
  width: 100%;
  text-align: center; }

.fa-stack-1x {
  line-height: inherit; }

.fa-stack-2x {
  font-size: 2em; }

.fa-inverse {
  color: #ffffff; }

/* Font Awesome uses the Unicode Private Use Area (PUA) to ensure screen
   readers do not read off random characters that represent icons */
.fa-heart:before {
  content: "\f004"; }

.fa-search:before {
  content: "\f002"; }

.fa-dribbble:before {
  content: "\f17d"; }

.fa-twitter:before {
  content: "\f099"; }

.fa-instagram:before {
  content: "\f16d"; }

.fa-envelope:before {
  content: "\f0e0"; }

.fa-times:before {
  content: '\f00d'; }

.fa-angle-right:before {
  content: "\f105"; }

.fa-angle-left:before {
  content: "\f104"; }

.fa-paper-plane:before {
  content: "\f1d8"; }

.fa-pencil:before {
  content: "\f040"; }

.fa-desktop:before {
  content: "\f108"; }

.fa-play-circle-o:before {
  content: "\f01d"; }

body {
  font-family: 'open_sanslight'; }
  body.no-scroll {
    height: 100vh;
    overflow: hidden; }

p {
  font-family: 'open_sanslight';
  font-size: 14px;
  font-color: #666; }

a {
  text-decoration: none;
  color: #333;
  display: block; }

.top-section h1 {
  font-family: 'slab_serifregular';
  font-size: 50px;
  color: #333;
  margin: 0;
  padding: 0; }

.top-section h4 {
  font-weight: 100;
  margin: 0;
  padding: 0; }

ul {
  margin: 0;
  padding: 0; }

hr {
  margin-top: 25px;
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(51, 51, 51, 0), rgba(51, 51, 51, 0.75), rgba(51, 51, 51, 0)); }

.content {
  transition: all .25s ease-in-out; }

.content-slide {
  margin-right: 50%; }

.close-mobile-work-image {
  display: none; }

.close-mobile-work-image,
.close-work-large-container,
.close {
  position: absolute;
  cursor: pointer;
  top: 15px;
  right: 35px;
  color: #fff;
  -webkit-transform: scale(1) rotate(0deg);
  transform: scale(1) rotate(0deg);
  transition: all .2s ease-in-out;
  display: block;
  width: 42px;
  height: 42px;
  line-height: 42px;
  text-align: center;
  border-radius: 50%;
  background-color: rgba(231, 76, 60, 0.6);
  z-index: 100;
  font-size: 35px; }
  .close-mobile-work-image:hover,
  .close-work-large-container:hover,
  .close:hover {
    color: #fff;
    -webkit-transform: scale(1.2) rotate(90deg);
    transform: scale(1.2) rotate(90deg);
    background-color: #e74c3c; }

.live-site {
  display: inline-block;
  color: #fff;
  border-bottom: 1px solid #fff;
  transition: all .1s ease-in-out; }
  .live-site:hover {
    border-bottom: 0px; }

/*-------- FLEX STYLES --------*/
.flex {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.column {
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column; }

.row {
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row; }

.flex-center {
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center; }

.wrap {
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

/*-------- END FLEX STYLES --------*/
/*------ MY WORK ------*/
.work-wrapper {
  width: 100%;
  padding: 25px 0; }
  .work-wrapper ul {
    -webkit-flex-flow: wrap;
    -ms-flex-flow: wrap;
    flex-flow: wrap;
    width: 100%;
    list-style: none;
    padding: 0;
    margin: 0; }

.work-item {
  position: relative;
  width: 30%;
  margin: 10px;
  height: 275px;
  overflow: hidden;
  border: 1px solid #333; }
  .work-item:hover .overlay,
  .work-item:hover h1,
  .work-item:hover .work-item-caption p {
    -webkit-transform: translate(0%, 0%);
    transform: translate(0%, 0%);
    opacity: 1; }
  .work-item img {
    position: absolute;
    margin: 0;
    padding: 0;
    float: left;
    z-index: 1;
    min-height: 275px;
    min-width: 366px; }
  .work-item .overlay {
    width: 100%;
    height: 100%;
    cursor: url("../img/fa-search-icon.svg"), pointer;
    position: absolute;
    z-index: 2;
    opacity: 0;
    -webkit-transform: translate(0%, 100%);
    transform: translate(0%, 100%);
    transition: all .25s ease;
    background-color: rgba(231, 76, 60, 0.85); }

.work-item-caption {
  position: relative;
  padding: 100px 0 0 0; }
  .work-item-caption h1 {
    color: #eee;
    margin: 0;
    padding: 0;
    opacity: 0;
    text-transform: uppercase;
    transition: all .25s ease-in-out;
    transition-delay: .18s;
    -webkit-transform: translate(-20%, 0%);
    transform: translate(-20%, 0%);
    font-family: 'open_sansextrabold'; }
  .work-item-caption p {
    color: #eee;
    margin: 0;
    padding: 0;
    opacity: 0;
    text-transform: uppercase;
    transition: all .25s ease-in-out;
    transition-delay: .18s;
    -webkit-transform: translate(20%, 0%);
    transform: translate(20%, 0%);
    font-size: 16px;
    font-weight: 300; }

.work-item-text {
  display: none; }

.large-image-container {
  width: 65%;
  height: 100vh;
  position: fixed;
  overflow: hidden;
  top: 0;
  left: 0;
  z-index: 4;
  opacity: 0;
  -webkit-transform: translate(-100%, 0%);
  transform: translate(-100%, 0%);
  transition: all .25s ease;
  background-size: cover;
  background-position: center center; }
  .large-image-container.show-large-image {
    opacity: 1;
    -webkit-transform: translate(0%, 0%);
    transform: translate(0%, 0%); }
  .large-image-container img {
    width: 100%;
    height: auto; }

.work-text-container {
  text-align: center;
  color: #fff;
  width: 35%;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 3;
  -webkit-transform: translate(100%, 0%);
  transform: translate(100%, 0%);
  transition: all .25s ease;
  background-color: #e74c3c; }
  .work-text-container.close-work-large-container {
    display: none; }
  .work-text-container.show-work-item-text {
    opacity: 1;
    -webkit-transform: translate(0%, 0%);
    transform: translate(0%, 0%); }
  .work-text-container h1 {
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-family: 'open_sansregular';
    font-size: 20px; }
  .work-text-container h4 {
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    font-weight: 100;
    font-size: 12px; }
  .work-text-container p {
    padding: 15px 25px; }

.project-text {
  margin-top: 100px;
  height: 40%; }

.next-prev-project-buttons {
  margin-top: 125px; }

.project-buttons {
  diaply: block;
  min-width: 130px;
  padding: 10px 15px;
  margin: 10px;
  border-radius: 4px;
  -webkit-filter: drop-shadow(0px 0px 2px rgba(0, 0, 0, 0.4));
  filter: drop-shadow(0px 0px 2px rgba(0, 0, 0, 0.4));
  color: #e74c3c;
  cursor: pointer;
  transition: all .2s ease-in-out;
  font-family: 'open_sansregular';
  background-color: #fff; }
  .project-buttons:hover {
    -webkit-filter: drop-shadow(0px 0px 8px rgba(0, 0, 0, 0.6));
    filter: drop-shadow(0px 0px 8px rgba(0, 0, 0, 0.6)); }

#amorae {
  background-image: url("../img/amorae-thumb.jpg");
  background-size: cover;
  background-position: center center; }

#copan {
  background-image: url("../img/copan-craft-beer.jpg");
  background-size: cover;
  background-position: center center; }

#ongar-logo {
  background-image: url("../img/ongar-logo.jpg");
  background-size: cover;
  background-position: center center; }

#ongar-lights {
  background-image: url("../img/ongar-lights.jpg");
  background-size: cover;
  background-position: center center; }

#english42 {
  background-image: url("../img/english42-large.jpg");
  background-size: cover;
  background-position: center center; }

#weight-watchers {
  background-image: url("../img/weight-watchers.jpg");
  background-size: cover;
  background-position: center center; }

#barclay {
  background-image: url("../img/barclay.jpg");
  background-size: cover;
  background-position: center center; }

#slievemore {
  background-image: url("../img/slievemore.jpg");
  background-size: cover;
  background-position: center center; }

#eriu {
  background-image: url("../img/eriu.jpg");
  background-size: cover;
  background-position: center center; }

@media (max-width: 1027px) {
  .large-image-container {
    width: 100%;
    height: 75vh;
    position: fixed;
    top: 0;
    display: block;
    overflow: hidden;
    background-color: blue;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0.9); }
  .work-text-container {
    width: 100%;
    top: 75vh;
    bottom: 0;
    position: fixed;
    display: block; }
    .work-text-container h1 {
      margin: 0;
      padding: 0;
      text-transform: uppercase;
      letter-spacing: 1px;
      font-family: 'open_sansregular';
      font-size: 20px; }
    .work-text-container h4 {
      margin: 0;
      padding: 0;
      text-transform: uppercase;
      font-weight: 100;
      font-size: 12px; }
    .work-text-container p {
      padding: 15px 25px;
      display: none; }
  .project-text {
    margin-top: 5px; }
  .next-prev-project-buttons {
    display: none; }
  .work-item {
    width: 47%; }
  .work-wrapper .close-work-large-container {
    display: none; }
  .project-text {
    margin-top: 5px;
    height: auto; } }

@media (max-width: 768px) {
  .work-item {
    width: 97%; } }

@media (max-width: 480px) {
  .work-item .overlay {
    opacity: 1;
    -webkit-transform: translate(0%, 0%);
    transform: translate(0%, 0%);
    background-color: rgba(51, 51, 51, 0.6); }
  .work-item-caption {
    position: relative;
    padding: 100px 0 0 0;
    margin: auto; }
    .work-item-caption h1 {
      color: #fff;
      opacity: 1;
      -webkit-transform: translate(0%, 0%);
      transform: translate(0%, 0%);
      font-family: 'open_sansextrabold';
      font-size: 25px; }
    .work-item-caption p {
      color: #fff;
      opacity: 1;
      -webkit-transform: translate(0%, 0%);
      transform: translate(0%, 0%); } }

.top-section {
  margin-top: 25px; }
  .top-section h4 span {
    color: rgba(231, 76, 60, 0.5);
    line-height: 20px;
    font-family: 'open_sansregular';
    font-size: 21px; }

.logo-container {
  width: 50%; }

.heart {
  color: #e74c3c; }

nav {
  width: 50%; }
  nav ul {
    margin: 0;
    padding: 0;
    list-style: none; }
    nav ul li {
      display: inline-block;
      margin: 0 5px; }
      nav ul li a {
        display: block;
        cursor: pointer;
        text-decoration: none;
        padding: 10px 20px;
        color: #333;
        border-radius: 5px;
        transition: all .25s ease-in-out; }
        nav ul li a:hover {
          color: #fff;
          background-color: #e74c3c; }

.current {
  color: #fff;
  background-color: #e74c3c; }

@media (max-width: 1027px) {
  .main-nav {
    display: none; }
    .main-nav ul {
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      background: rgba(231, 76, 60, 0.9);
      text-align: center;
      z-index: 3; }
    .main-nav.is-showing {
      display: block; }
      .main-nav.is-showing li {
        display: block; }
        .main-nav.is-showing li a {
          color: #e74c3c;
          padding: 10px 25px;
          margin: 10px;
          border-radius: 5px;
          background-color: #fff;
          font-size: 18px; } }

@media (max-width: 768px) {
  .logo-container {
    display: block;
    width: 100%;
    margin: 20px 0; } }

@media (max-width: 480px) {
  .top-section {
    display: block !important; }
  .logo-container {
    text-align: center; } }

.about-container {
  visibility: hidden;
  position: fixed;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  box-shadow: -10px -5px 40px 15px rgba(0, 0, 0, 0.5);
  z-index: 4;
  -webkit-transform: translate(100%, 0%);
  transform: translate(100%, 0%);
  transition: all .25s ease-in-out;
  opacity: 0;
  background-color: #fff; }
  .about-container h2, .about-container p {
    text-align: left;
    width: 90%;
    margin: 8px auto 0px auto; }
  .about-container p {
    line-height: 23px;
    font-size: 14px; }
  .about-container a {
    display: inline-block;
    color: #e74c3c;
    font-family: 'open_sansregular'; }
  .about-container.show {
    visibility: visible;
    -webkit-transform: translate(0%, 0%);
    transform: translate(0%, 0%);
    transition: all .3s ease-in-out;
    opacity: 1; }

.about-text {
  display: block;
  font-family: 'open_sansextrabold';
  margin: 0;
  padding: 0;
  color: #333;
  font-size: 22px; }

.resume-button {
  cursor: pointer;
  background-color: #e74c3c;
  padding: 10px 15px;
  border-radius: 5px;
  width: 28%;
  text-align: center;
  color: #fff;
  margin: 55px auto;
  -webkit-filter: drop-shadow(0px 0px 1px rgba(51, 51, 51, 0.7));
  filter: drop-shadow(0px 0px 1px rgba(51, 51, 51, 0.7)); }
  .resume-button:hover {
    background-color: #d62c1a; }

.about-image {
  position: relative;
  width: 100%;
  height: 50%;
  background-image: url("../img/mike-portfolio-image.jpg");
  background-size: cover;
  background-position: center center; }
  .about-image ul {
    position: absolute;
    top: 0; }

.social-nav ul {
  position: relative;
  text-align: center;
  padding: 20px 0; }
  .social-nav ul li, .social-nav ul a {
    display: inline-block;
    color: #fff;
    padding: 0 5px;
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
    transition: all .25s ease-in-out;
    font-size: 28px;
    font-weight: 400; }
    .social-nav ul li:hover, .social-nav ul a:hover {
      -webkit-transform: translate(0, -8px);
      transform: translate(0, -8px); }
  .social-nav ul .fa-dribbble:hover {
    color: #ea4c89; }
  .social-nav ul .fa-instagram:hover {
    color: #9b6954; }
  .social-nav ul .fa-envelope:hover {
    color: #e74c3c; }
  .social-nav ul .fa-twitter:hover {
    color: #00aced; }

.about-panel-overlay {
  visibility: hidden;
  position: fixed;
  cursor: pointer;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
  pointer-events: none;
  transition: all .25s ease-in-out;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.8); }
  .about-panel-overlay.show {
    pointer-events: auto;
    transition: all .2s ease-in-out;
    opacity: 1;
    visibility: visible; }

.mobile-social-nav {
  display: none; }

@media (max-width: 1028px) {
  .about-container p {
    font-size: 14px;
    text-align: left;
    width: 90%;
    padding-top: 10px;
    margin: 8px auto 0px auto; } }

.about-image {
  position: relative;
  width: 100%;
  background-image: url("../img/mike-portfolio-image.jpg");
  background-size: cover;
  background-position: center center; }
  .about-image ul {
    position: absolute;
    top: 40vh; }
  .about-image .social-nav ul {
    position: relative;
    text-align: center;
    padding: 20px 0; }
    .about-image .social-nav ul li, .about-image .social-nav ul a {
      display: inline-block;
      color: #fff;
      padding: 0 5px;
      -webkit-transform: translate(0, 0);
      transform: translate(0, 0);
      transition: all .25s ease-in-out;
      font-size: 28px;
      font-weight: 400; }
      .about-image .social-nav ul li:hover, .about-image .social-nav ul a:hover {
        -webkit-transform: translate(0, -8px);
        transform: translate(0, -8px); }

/*---------- RESPONSIVE STYLES ----------*/
@media (max-width: 768px) {
  .about-container {
    width: 90%;
    margin-right: 0; } }

@media (max-width: 480px) {
  .about-container {
    width: 100%;
    margin-right: 0; }
    .about-container h2 {
      display: none; }
    .about-container p {
      margin: 0 auto;
      padding: 0;
      font-size: 14px; }
  .about-image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 5% auto 3% auto;
    box-shadow: 0px 0px 2px 2px rgba(51, 51, 51, 0.7); }
  .social-nav {
    display: none; } }

.contact-section {
  visibility: hidden;
  position: fixed;
  top: 0;
  width: 30%;
  margin-left: 35%;
  height: auto;
  z-index: 4;
  text-align: center;
  opacity: 0;
  transition: all .25s ease-in-out;
  -webkit-transform: translate(0%, 100%);
  transform: translate(0%, 100%);
  padding: 20px 0;
  border-radius: 6px;
  box-shadow: 0px 0px 10px 2px rgba(255, 255, 255, 0.1);
  pointer-events: none;
  background-color: #e74c3c; }
  .contact-section.show {
    visibility: visible;
    pointer-events: auto;
    -webkit-transform: translate(0%, 20%);
    transform: translate(0%, 20%);
    opacity: 1; }
  .contact-section .fa-envelope:hover {
    color: #eee; }
  .contact-section h2 {
    margin: 0;
    padding: 25px 0 0 0;
    margin: 0;
    color: #fff;
    letter-spacing: 1px;
    font-size: 26px;
    font-family: 'open_sansregular'; }

textarea,
input {
  position: relative;
  width: 94%;
  height: 40px;
  border: 0;
  text-align: center;
  margin: 4px 3% 4px 3%;
  border-radius: 4px;
  -webkit-filter: drop-shadow(0px 0px 2px rgba(0, 0, 0, 0.4));
  filter: drop-shadow(0px 0px 2px rgba(0, 0, 0, 0.4));
  color: #333;
  font-size: 16px;
  font-family: 'open_sanslight'; }

textarea {
  resize: none; }

.submit {
  height: 38px;
  border: 0;
  width: 94%;
  color: #e74c3c;
  cursor: pointer;
  padding: 4px;
  margin: 10px;
  border-radius: 4px;
  -webkit-filter: drop-shadow(0px 0px 2px rgba(0, 0, 0, 0.4));
  filter: drop-shadow(0px 0px 2px rgba(0, 0, 0, 0.4));
  font-size: 16px;
  font-family: 'open_sansregular';
  background-color: #fff; }

.message {
  height: 100px; }

.lets-get-social {
  margin: 0;
  padding: 0;
  font-size: 12px;
  font-family: 'open_sanslight'; }
  .lets-get-social a {
    color: #fff;
    padding: 0;
    margin: 0;
    text-decoration: none; }

.invalid {
  color: #e74c3c;
  background-color: #333; }

.valid {
  color: #fff;
  background-color: #2ecc71; }

@media (max-width: 1027px) {
  .contact-section {
    width: 60%;
    margin-left: 20%; } }

@media (max-width: 480px) {
  .contact-section {
    width: 90%;
    margin-left: 2.5%; }
  .contact-section.show {
    -webkit-transform: translate(0%, 8%);
    transform: translate(0%, 8%); }
  textarea,
  input {
    height: 30px; }
  textarea {
    resize: none; }
  .submit {
    height: 34px;
    border: 0;
    width: 94%;
    color: #e74c3c;
    cursor: pointer;
    padding: 4px;
    margin: 10px;
    border-radius: 4px;
    -webkit-filter: drop-shadow(0px 0px 2px rgba(0, 0, 0, 0.4));
    filter: drop-shadow(0px 0px 2px rgba(0, 0, 0, 0.4));
    font-size: 16px;
    font-family: 'open_sansregular';
    background-color: #fff; }
  .message {
    height: 75px; } }

.mobile-social-nav ul .fa-dribbble {
  color: #ea4c89; }

.mobile-social-nav ul .fa-instagram {
  color: #9b6954; }

.mobile-social-nav ul .fa-envelope {
  color: #e74c3c; }

.mobile-social-nav ul .fa-twitter {
  color: #00aced; }

@media (min-width: 1027px) {
  .mobile-project-buttons {
    display: none; }
  .close-mobile-work-image {
    display: none; } }

@media (max-width: 1027px) {
  .close-mobile-work-image {
    display: block;
    width: 42px;
    height: 42px;
    line-height: 42px;
    text-align: center;
    border-radius: 50%;
    background-color: #e74c3c; }
  .mobile-next {
    -webkit-transform: translate(30px, 0) scale(1);
    transform: translate(30px, 0) scale(1); }
  .mobile-prev {
    -webkit-transform: translate(-30px, 0) scale(1);
    transform: translate(-30px, 0) scale(1); }
  .mobile-prev,
  .mobile-next {
    opacity: .1;
    margin: 10px 10px;
    color: #e74c3c;
    width: 35px;
    height: 35px;
    line-height: 33px;
    border-radius: 50%;
    cursor: pointer;
    transition: all .25s ease-in-out;
    transition-delay: .18s;
    font-size: 25px;
    font-weight: 800;
    background-color: #fff; }
    .mobile-prev:hover,
    .mobile-next:hover {
      -webkit-transform: scale(1.3);
      transform: scale(1.3); }
  .mobile-project-buttons-showing {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
    opacity: 1; }
  .mobile-nav-toggle {
    width: 40px;
    height: 40px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    top: 20px;
    right: 30px;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    cursor: pointer;
    transition: all .25s ease-in-out;
    z-index: 4; }
    .mobile-nav-toggle span:before,
    .mobile-nav-toggle span:after,
    .mobile-nav-toggle span {
      content: "";
      display: block;
      position: relative;
      height: 4px;
      width: 100%;
      border-radius: 5px;
      transition: all .25s ease-in-out;
      background-color: #333; }
    .mobile-nav-toggle span:before {
      top: 10px; }
    .mobile-nav-toggle span:after {
      top: -14px; }
    .mobile-nav-toggle.is-showing {
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex; }
      .mobile-nav-toggle.is-showing span {
        background-color: transparent; }
      .mobile-nav-toggle.is-showing span:before,
      .mobile-nav-toggle.is-showing span:after {
        -webkit-transform-origin: center;
        transform-origin: center;
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
        top: 0px;
        background-color: #fff; }
      .mobile-nav-toggle.is-showing span:after {
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
        top: -4px; } }

@media (max-width: 480px) {
  .mobile-social-nav,
  .mobile-social-nav .social-nav {
    display: block; }
  .mobile-nav-toggle {
    top: 10px; }
  .mobile-prev:hover,
  .mobile-next:hover {
    -webkit-transform: scale(1);
    transform: scale(1); } }

.blog-item {
  width: 70%;
  margin: 100px 0 15px 15%;
  height: auto; }
  .blog-item:nth-child(1) {
    margin-top: 25px !important; }

.date {
  height: 100px;
  padding: 0 10px;
  text-align: center;
  color: #fff;
  background-color: #e74c3c; }

.cal-day {
  font-family: 'slab_serifregular';
  font-size: 32px; }

.cal-year {
  display: block;
  padding: 0 0 4px 0;
  font-size: 12px; }

.blog-item-text {
  width: 90%;
  padding: 10px;
  transition: all .25s ease-in-out;
  font-family: 'open_sanslight'; }
  .blog-item-text:hover {
    background-color: #eee; }
    .blog-item-text:hover .view-post {
      opacity: 1;
      -webkit-transform: translate(0, 0);
      transform: translate(0, 0); }

.blog-title h2 {
  margin: 0;
  padding: 0; }

.blog-content {
  color: #333;
  font-size: 18px; }

.view-post {
  opacity: 0;
  transition: all .25s ease-in-out;
  -webkit-transform: translate(100px, 0);
  transform: translate(100px, 0);
  float: right;
  padding: 10px 15px;
  color: #333;
  font-family: 'open_sansregular'; }
  .view-post:after {
    content: ' > >'; }

.sub-container {
  margin: auto; }
  .sub-container input {
    border: 0;
    padding: 2px 0;
    margin: 0;
    outline: none;
    color: #333333; }
    .sub-container input:focus {
      background-color: #fbfbfb; }
  .sub-container .send-button {
    display: block;
    position: absolute;
    margin: -4px 0 0 -22px;
    padding: 0;
    width: 50px !important;
    height: 50px !important;
    border: 0;
    border-radius: 50%;
    color: #ffffff;
    -webkit-transform: rotate(15deg) scale(1);
    transform: rotate(15deg) scale(1);
    transition: all .25s ease-in-out;
    cursor: pointer;
    font-size: 25px;
    font-weight: 100;
    background-color: #25a25a; }
    .sub-container .send-button:hover {
      -webkit-transform: rotate(22deg) scale(1.2);
      transform: rotate(22deg) scale(1.2);
      background-color: #2ecc71; }

.text-center {
  text-align: center; }
  .text-center p {
    font-size: 12px; }

.sub-container {
  width: 55%; }
  .sub-container h1 {
    color: #333;
    font-family: 'open_sansextrabold'; }

.posts-container {
  width: 70%;
  height: auto;
  margin-left: 15%; }

.post {
  min-height: 200px;
  position: relative;
  cursor: pointer;
  overflow: hidden; }
  .post:hover .post-info {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0); }
  .post:hover .post-title,
  .post:hover .post-type-text {
    opacity: 1;
    -webkit-transform: translate(0%, 0);
    transform: translate(0%, 0); }
  .post:hover .post-type-icon {
    -webkit-transform: scale(1);
    transform: scale(1); }

.post-info {
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  transition: all .12s ease-in-out;
  -webkit-transform: translate(0, 100%);
  transform: translate(0, 100%);
  background-color: rgba(231, 76, 60, 0.8); }

.post-type-icon {
  color: #ffffff;
  padding: 5px 0;
  transition: all .3s ease-in-out;
  -webkit-transform: scale(2);
  transform: scale(2);
  font-size: 26px; }

.post-type-text {
  color: #ffffff;
  font-size: 12px;
  opacity: 0;
  transition: all .25s ease-in-out;
  transition-delay: .05s;
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0); }

.post-title {
  color: #ffffff;
  padding: 10px 5px;
  text-transform: uppercase;
  text-align: center;
  opacity: 0;
  transition: all .25s ease-in-out;
  transition-delay: .05s;
  -webkit-transform: translate(50%, 0);
  transform: translate(50%, 0);
  font-size: 24px;
  font-family: 'open_sansregular'; }

.post-date {
  display: block;
  color: #333333;
  font-size: 10px; }

.post-70 {
  width: 70%;
  background-color: green; }

.post-30 {
  width: 30%;
  background-color: honeydew; }

.post-100 {
  width: 100%;
  background-color: yellow; }

.post-50 {
  width: 50%;
  background-color: fuchsia; }

#nettl {
  background-image: url("../img/nettl.jpg");
  background-size: cover;
  background-position: center center; }

#example {
  background-image: url("../img/example.jpg");
  background-size: cover;
  background-position: center center; }

/*---------- RESPONSIVE STYLES ----------*/
@media (max-width: 1027px) {
  .sub-container {
    width: 70%; } }

@media (max-width: 768px) {
  .blog-item {
    width: 90% !important;
    margin: 0 0 115px 5% !important;
    -webkit-flex-direction: column !important;
    -ms-flex-direction: column !important;
    flex-direction: column !important;
    text-align: center;
    background-color: #eee; }
    .blog-item:nth-child(1) {
      margin-top: 25px !important; }
    .blog-item .view-post {
      opacity: 1;
      transition: all .25s ease-in-out;
      -webkit-transform: translate(0, 0);
      transform: translate(0, 0); }
    .blog-item .date {
      width: 100px;
      margin: 0 auto; }
  .sub-container {
    width: 90%; } }

/*!
 * animate.css -http://daneden.me/animate
 * Version - 3.5.0
 * Licensed under the MIT license - http://opensource.org/licenses/MIT
 *
 * Copyright (c) 2016 Daniel Eden
 */
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

@-webkit-keyframes tada {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); }
  10%, 20% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg); }
  30%, 50%, 70%, 90% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg); }
  40%, 60%, 80% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg); }
  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); } }

@keyframes tada {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); }
  10%, 20% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg); }
  30%, 50%, 70%, 90% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg); }
  40%, 60%, 80% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg); }
  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); } }

.tada {
  -webkit-animation-name: tada;
  animation-name: tada; }
